@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap')

.LoxotronCasinoEntryFormComponent
  background-color: transparent
  width: 500px
  height: 800px
  border-radius: 10px
  border: 3px solid #CA9328
  text-align: center
  box-shadow: 0 0 15px 0 #CA9328
  text-align: left

h1
  font-family: 'Limelight', sans-serif
  color: white
  text-align: center
  font-size: 40px

.LoxotronCasinoEntryFormComponent  ul .list1 label
  color: white
  font-size: 34px
  font-family: 'Limelight', sans-serif
  bottom: 635px
  position: absolute

.LoginInput input
  bottom: 580px

.LoxotronCasinoEntryFormComponent ul .list2 label
  color: white
  position: absolute
  font-size: 34px
  bottom: 405px
  font-family: 'Limelight', sans-serif

.PasswordInput input
  position: absolute
  bottom: 350px

.knopcka button
  position: absolute
  bottom: 150px
  left: 140px


