.spinButton
  position: absolute
  left: 955px
  transform: translate(-50%, -50%)
  top: 830px

body
  background-color: #0A0A0A
  text-align: center

.frame
  padding-left: 123px
  padding-top: 110px

.infoPanel
  top: 30px
  left: 560px
  position: absolute
  text-align: center

.result
  position: fixed
  font-size: 40px
  top: 10px
  height: 50px
  padding-top: 15px
  left: 870px

#screen
  background-color: #0A0A0A

